body {
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile{
  &__name {
    color: red;
    font-size: 30px;
  }
  &__birth {
    font-style: italic;
    font-size: 20px;
  }
}